html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  overflow-x: hidden;
  font-family: 'Open Sans';
  -webkit-text-size-adjust: 100%;
}

nav {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Sanchez';
  color: #c7950a;
  padding: 10px 0 8px;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 50;
  height: 74px;
}

nav:before {
  content: "";
  position: absolute;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
  bottom: -3px;
  height: 7px;
  width: 14px;
  left: -30px;
  border-radius: 4px;
  -webkit-transform: translateX(1000px);
  -moz-transform: translateX(1000px);
  transform: translateX(1000px);
  background: rgba(255, 204, 0, 0.8);
  box-shadow: 10px 0 10px rgba(255, 204, 0, 1);
}

nav:after {
  content: "";
  position: absolute;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
  bottom: 0px;
  height: 1px;
  width: 100%;
  left: 0;
  -webkit-transform: translateX(1000px);
  -moz-transform: translateX(1000px);
  transform: translateX(1000px);
  background: rgba(255, 204, 0, 0.97);
  box-shadow: 3px 0px 5px rgba(255, 204, 0, 0.97);
}

.visible nav {
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.visible nav:before {
  -webkit-transform: translateX(0px);
  -webkit-transition: all .6s linear;
  -moz-transform: translateX(0px);
  -moz-transition: all .6s linear;
  transform: translateX(0px);
  transition: all .6s linear;
}

.visible nav:after {
  -webkit-transform: translateX(0);
  -webkit-transition: all .6s linear;
  -moz-transform: translateX(0);
  -moz-transition: all .6s linear;
  transform: translateX(0);
  transition: all .6s linear;
}

a {
  color: #fff;
}

.button {
  border: 1px solid #c7950a;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 15px;
  border-radius: 4px;
  padding: 12px 0;
  display: block;
  margin: 50px auto 0;
  width: 370px;
  text-decoration: none;
  box-shadow: 5px 5px 0 #e8b800, 4px 4px 0 #e8b800, 3px 3px 0 #e8b800, 2px 2px 0 #e8b800, 1px 1px 0 #e8b800;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(top left, rgba(127, 102, 0, 0.1), rgba(133, 28, 80, 0.2));
  background: -moz-linear-gradient(top left, rgba(127, 102, 0, 0.1), rgba(133, 28, 80, 0.2));
  background: linear-gradient(top left, rgba(127, 102, 0, 0.1), rgba(133, 28, 80, 0.2));
}

.button:hover {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  background: -webkit-linear-gradient(top left, rgba(127, 102, 0, 0.6), rgba(133, 28, 80, 0.5));
  background: -moz-linear-gradient(top left, rgba(127, 102, 0, 0.6), rgba(133, 28, 80, 0.5));
  background: linear-gradient(top left, rgba(127, 102, 0, 0.6), rgba(133, 28, 80, 0.5));
}

.button span {
  position: absolute;
  right: 16px;
  top: 13px;
  color: #e8b800;
  font-size: .9em;
}


#intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  min-height: 660px;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#intro > div {
  text-align: center;
  color: #c7950a;
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 500px;
  margin: 0 -250px;
}


#intro p.location {
  font-size: .8rem;
  font-size: 1.5em;
  font-family: 'Sanchez';
  color: #fff;
  text-transform: uppercase;
  margin: -1em 0 2em;
  text-shadow: 1px 1px 0 #000;
}

#intro p.date {
  font-size: 2.2em;
  font-family: 'Great Vibes';
  color: #EDB928;
  text-shadow: 1px 1px 0 #000;
}


.links a {
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.links a > img {
  position: relative;
  width: 110px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.links a:hover > img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

#intro .button {
  width: 300px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}

#subscribeForm {
  display: block;
  width: 480px;
  margin: 60px auto;
  position: relative;
}

#subscribeForm .input span {
  display: block;
}

#subscribeForm .input input[type='text'] {
  position: absolute;
  left: 0px;
  font-size: 20px;
  line-height: 39px;
  padding: 0 15px;
  font-family: 'Open Sans';
  border: 1px solid #c7950a;
  border-right: 0;
  background: none;
  color: #fff;
  outline: 0;
  width: 150px;
  height: 40px;
  border-radius: 4px 0 0 4px;
}

#subscribeForm .input input[type='email'] {
  position: absolute;
  left: 180px;
  font-size: 20px;
  line-height: 40px;
  padding: 0 15px;
  font-family: 'Open Sans';
  border: 1px solid #c7950a;
  border-right: 0;
  border-left: 0;
  background: none;
  color: #fff;
  outline: 0;
  width: 150px;
  height: 40px;
}

#subscribeForm .input input[type='submit'] {
  position: absolute;
  left: 360px;
  width: 100px;
  font-family: 'Open Sans';
  padding: 0 15px;
  height: 42px;
  border: 0;
  outline: 0;
  background: #c7950a;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#subscribeForm .input input[type='submit']:hover {
  background: #e8b800;
}

#subscribeForm.load .input input[type='submit'] {
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(0, 0, 0, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.1)), color-stop(0.75, rgba(0, 0, 0, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -ms-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: loading 2s infinite linear;
  -moz-animation: loading 2s infinite linear;
  -ms-animation: loading 2s infinite linear;
  -o-animation: loading 2s infinite linear;
  animation: loading 2s infinite linear;
}

#subscribeForm .msg {
  position: absolute;
  width: 460px;
  top: 50px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin: 0 auto;
}

#subscribeForm .msg span {
  display: block;
  color: #fff;
  font-size: .9em;
}

@-moz-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-ms-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

#body {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1000px;
  z-index: 11;
}

#body p {
  position: relative;
  bottom: 0;
  color: #fff;
  font-size: 0.85em;
  width: 400px;
  margin: 0 auto 20px;
  padding-left: 30px;
}

#body .desc {
  font-size: 2em;
  font-family: 'Sanchez';
  color: #fff;
  text-transform: uppercase;
}

#body .date {
  font-size: 2.2em;
  font-family: 'Great Vibes';
  color: #c7950a;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}

#body section, footer {
  padding: 120px 0 0;
}

#body section h2 {
  text-align: center;
  font-family: 'Great Vibes';
  font-size: 3em;
  position: relative;
  overflow: hidden;
  color: rgba(255, 204, 0, 0.97);
  padding-bottom: 20px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

#body section h3 {
  font-size: 1.2em;
  color: #c7950a;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Sanchez';
  margin: 40px auto 15px;
  width: 400px;
  text-transform: uppercase;
  padding-left: 30px;
  letter-spacing: -1px;
}

#body .date a {
  color: #c7950a;
  text-decoration: none;
}

#body .date a:hover {
  color: #fff;
}

#schedule .column {
  margin: 0 auto;
  position: relative;
  width: 480px;
}

#schedule .column + .column {
  margin-top: -20px;
}

#schedule .column + .column:after {
  content: "";
  position: absolute;
  top: -60px;
  left: 110px;
  width: 0px;
  height: 80px;
  border-left: 1px dotted #fff;
  z-index: 8;
}

#schedule .column:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 110px;
  width: 0px;
  bottom: 14px;
  border-left: 1px dotted #fff;
  z-index: 8;
}

#schedule .speaker {
  position: relative;
  z-index: 10;
}

#schedule .speaker:not(.break) {
  cursor: pointer;
}

#schedule .speaker.break:before, #schedule .speaker.dot:before {
  content: "";
  position: absolute;
  top: 28px;
  left: 106px;
  padding: 5px;
  border-radius: 5px;
  background: #c7950a;
}

#schedule .speaker.break h3 {
  font-family: 'Open Sans';
  font-size: 0.85em;
  font-weight: 300;
  color: #e8b800;
  padding-top: 23px;
}

#schedule .speaker span {
  float: left;
  width: 65px;
  font-size: 0.8em;
  text-align: right;
  margin-top: 25px;
  color: #c7950a;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  transition: none;
}

#schedule .speaker.open span {
  transition: all .1s ease-out;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0);
}

#schedule .speaker img {
  float: left;
  height: 70px;
  width: 70px;
  margin-left: 8px;
  margin-right: 14px;
  border-radius: 38px;
  border: 3px solid #c7950a;
  -webkit-filter: saturation(0.6) contrast(1.4);
  -moz-filter: saturation(0.6) contrast(1.4);
  filter: saturation(0.6) contrast(1.4);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  transition: all .1s ease-in;
}

#schedule .speaker:hover img, #schedule .speaker.open img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#schedule .speaker h3 {
  margin-top: 0;
  font-size: 1em;
  text-transform: none;
  letter-spacing: 0px;
}

#schedule .speaker h4 {
  margin-top: 50px;
  padding-top: 20px;
  font-size: 1.6em;
  font-family: 'Great Vibes';
  color: #e8b800;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

#schedule .speaker h4, #schedule .speaker h3, #schedule .speaker p {
  margin-left: 130px;
  padding-left: 30px;
  width: 320px;
}

#schedule .speaker p {
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .1s ease-out;
}

#schedule .speaker.open p {
  margin-bottom: 25px;
  height: auto;
  opacity: 1;
  overflow: auto;
}

#schedule .speaker p + p {
  font-style: italic;
}

#schedule .speaker h4 a {
  font-size: .5em;
  font-weight: 300;
  color: #c7950a;
  font-family: 'Open Sans';
  text-transform: none;
  text-decoration: none;
  margin-left: 5px;
}

#schedule .speaker h4 a:hover {
  color: #fff;
  text-shadow: 1px 1px 0 #c7950a;
}

#body footer {
  padding-bottom: 110px;
}

#body footer p {
  text-align: center;
  color: #c7950a;
  padding: 0;
}

#body footer p a {
  color: #c7950a;
}

nav a {
  color: #c7950a;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

@media all and (min-width: 1020px) {
  #schedule {
    width: 1020px;
    margin: 0 auto;
  }

  #schedule .column {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin: -30px 0 -10px 20px;
  }

  #schedule .column:before {
    top: 80px;
    bottom: 29px;
  }

  #schedule .column + .column:after {
    display: none;
  }

  #speakers {
    width: 1000px;
  }
}

@media all and (max-width: 759px) {
  .visible #background {
    -webkit-filter: none;
  }
}

#break-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#break-content {
  height: 100vh;
}

#break-content .logo > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}

.wheel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  border: 6px solid transparent;
  /*box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.9);*/
  z-index: -1;
  background-clip: padding-box;
  background: radial-gradient(circle, transparent, transparent);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spoke-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spoke-wrapper {
  animation: spin 96s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spoke img {
  position: relative;
  max-width: 180px;
  max-height: 180px;
}

.first-half .spoke img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.first-half .spoke-wrapper:nth-child(1) .spoke {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg); }

.second-half .spoke-wrapper:nth-child(1) .spoke {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg); }

.first-half .spoke-wrapper:nth-child(2) .spoke {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.second-half .spoke-wrapper:nth-child(2) .spoke {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

.first-half .spoke-wrapper:nth-child(3) .spoke {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg); }

.second-half .spoke-wrapper:nth-child(3) .spoke {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }

.first-half .spoke-wrapper:nth-child(4) .spoke {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg); }

.second-half .spoke-wrapper:nth-child(4) .spoke {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }

.first-half .spoke-wrapper:nth-child(5) .spoke {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.second-half .spoke-wrapper:nth-child(5) .spoke {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.first-half .spoke-wrapper:nth-child(6) .spoke {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg); }

.second-half .spoke-wrapper:nth-child(6) .spoke {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg); }
