html,
body {
  margin: 0px;
  padding: 0px;
  background: #0a0a0a;
  overflow-x: hidden;
  font-family: 'Open Sans';
  -webkit-text-size-adjust: 100%;
}

a {
  color: #fff;
}


.button {
  border: 1px solid #c7950a;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 15px;
  border-radius: 4px;
  padding: 12px 0;
  display: block;
  margin: 50px auto 0;
  width: 370px;
  text-decoration: none;
  box-shadow: 0 3px 0 #e8b800, 0 2px 0 #e8b800, 0 1px 0 #e8b800;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(top left, rgba(127, 102, 0, 0.1), rgba(133, 28, 80, 0.2));
  background: -moz-linear-gradient(top left, rgba(127, 102, 0, 0.1), rgba(133, 28, 80, 0.2));
  background: linear-gradient(top left, rgba(127, 102, 0, 0.1), rgba(133, 28, 80, 0.2));
}

.hint {
  position: relative;
  top: 10px;
  text-decoration: none;
  font-size: 0.8em;
}
.hint:hover {
  text-decoration: underline;
}

.button:hover {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  background: -webkit-linear-gradient(top left, rgba(127, 102, 0, 0.6), rgba(133, 28, 80, 0.5));
  background: -moz-linear-gradient(top left, rgba(127, 102, 0, 0.6), rgba(133, 28, 80, 0.5));
  background: linear-gradient(top left, rgba(127, 102, 0, 0.6), rgba(133, 28, 80, 0.5));
}

.button span {
  position: absolute;
  right: 16px;
  top: 13px;
  color: #e8b800;
  font-size: .9em;
}


#intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  min-height: 660px;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#intro > div {
  text-align: center;
  color: #EDB928;
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 500px;
  margin: 0 -250px;
}

#intro p {
  text-shadow: 1px 1px 0 #000;
}

#intro p.location {
  font-size: .8rem;
  font-size: 1.5em;
  font-family: 'Sanchez';
  color: #fff;
  text-transform: uppercase;
  margin: -1em 0 1em;
}

#intro p.date {
  font-size: 2.2em;
  font-family: 'Great Vibes';
  color: #EDB928;
}


#intro .button {
  width: 300px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
}


#sponsors {
  padding-top: 100px;
  text-align: center;
}

#sponsors img {
  height: 30px;
  opacity: 0.7;
  margin: 15px 25px 0;
  vertical-align: middle;
}

#sponsors a:hover img {
  opacity: 0.9;
}



#subscribeForm {
  display: block;
  width: 480px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  color: #fff;
  text-align: center;
}

#subscribeForm .input span {
  display: block;
}

#subscribeForm .input input[type='text'] {
  position: absolute;
  left: 0px;
  font-size: 20px;
  line-height: 39px;
  padding: 0 15px;
  font-family: 'Open Sans';
  border: 1px solid #888;
  border-right: 0;
  background: none;
  color: #fff;
  outline: 0;
  width: 150px;
  height: 40px;
  border-radius: 4px 0 0 4px;
}

#subscribeForm .input input[type='email'] {
  position: absolute;
  left: 180px;
  font-size: 20px;
  line-height: 40px;
  padding: 0 15px;
  font-family: 'Open Sans';
  border: 1px solid #888;
  border-right: 0;
  border-left: 0;
  background: none;
  color: #fff;
  outline: 0;
  width: 150px;
  height: 40px;
}

#subscribeForm .input input[type='submit'] {
  position: absolute;
  left: 360px;
  width: 100px;
  font-family: 'Open Sans';
  padding: 0 15px;
  height: 42px;
  border: 1px solid #888;
  border-left: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#subscribeForm .input input[type='submit']:hover {
  background: #333;
}

#subscribeForm.load .input input[type='submit'] {
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(0, 0, 0, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.1)), color-stop(0.75, rgba(0, 0, 0, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -ms-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: loading 2s infinite linear;
  -moz-animation: loading 2s infinite linear;
  -ms-animation: loading 2s infinite linear;
  -o-animation: loading 2s infinite linear;
  animation: loading 2s infinite linear;
}

#subscribeForm .msg {
  position: absolute;
  left: 0;
  right: 0;
  top: 170px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin: 0 auto;
}

#subscribeForm .msg span {
  display: block;
  color: #fff;
  font-size: .9em;
}

@-moz-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-ms-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

#body {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 11;
  border-top: 1px solid #444;
}

#body p {
  position: relative;
  bottom: 0;
  color: #fff;
  font-size: 0.85em;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#body ul {
  margin-left: 130px;
  color: #fff;
  font-size: 0.85em;
}

#body ul li {
  margin-bottom: 0.8em;
}

#body footer {
  padding: 80px 0 0;
  background-image: linear-gradient(top, transparent 0%, black 15%);
  background-image: -moz-linear-gradient(top, transparent 0%, black 15%);
  background-image: -webkit-linear-gradient(top, transparent 0%, black 15%);
}



#schedule {
  padding-top: 60px;
}

#schedule .column {
  margin: 0 auto;
  position: relative;
  width: 480px;
}

#schedule .column + .column {
  margin-top: -20px;
}

#schedule .column + .column:after {
  content: "";
  position: absolute;
  top: -60px;
  left: 110px;
  width: 0px;
  height: 80px;
  border-left: 1px dotted #fff;
  z-index: 8;
}

#schedule .column:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 110px;
  width: 0px;
  bottom: 14px;
  border-left: 1px dotted #fff;
  z-index: 8;
}

#schedule .speaker {
  position: relative;
  z-index: 10;
}

#schedule .speaker:not(.break) {
  cursor: pointer;
}

#schedule .speaker.break:before, #schedule .speaker.dot:before {
  content: "";
  position: absolute;
  top: 28px;
  left: 106px;
  padding: 5px;
  border-radius: 5px;
  background: #c7950a;
}

#schedule .speaker.break h3 {
  font-family: 'Open Sans';
  font-size: 0.85em;
  font-weight: 300;
  color: white;
  padding-top: 23px;
}

#schedule .speaker span {
  float: left;
  width: 65px;
  font-size: 0.8em;
  text-align: right;
  margin-top: 25px;
  color: #c7950a;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  transition: none;
}

#schedule .speaker.open span {
  transition: all .1s ease-out;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0);
}

#schedule .speaker img {
  float: left;
  height: 70px;
  width: 70px;
  margin-left: 8px;
  margin-right: 10px;
  border-radius: 38px;
  border: 3px solid #c7950a;
  box-shadow: 0 0 3px 3px #851c50;
  -webkit-filter: saturation(0.6) contrast(1.4);
  -moz-filter: saturation(0.6) contrast(1.4);
  filter: saturation(0.6) contrast(1.4);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  transition: all .1s ease-in;
}


#schedule .speaker img + img {
    margin-left: -20px;
}

#schedule .speaker:hover img, #schedule .speaker.open img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#schedule .speaker h3 {
  margin-top: 0;
  font-size: 1em;
  text-transform: none;
  letter-spacing: 0px;
  color: #c7950a;
  font-family: 'Sanchez';
}

#schedule .speaker h4 {
  margin-top: 50px;
  padding-top: 20px;
  font-size: 1.6em;
  font-family: 'Great Vibes';
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

#schedule .speaker h4, #schedule .speaker h3, #schedule .speaker p {
  margin-left: 130px;
  padding-left: 30px;
  width: 320px;
}

#schedule .speaker p {
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .1s ease-out;
  text-align: left;
}

#schedule .speaker.open p {
  margin-bottom: 25px;
  height: auto;
  opacity: 1;
  overflow: auto;
}

#schedule .speaker p + p {
  font-style: italic;
}

#schedule .speaker h4 a {
  font-size: .5em;
  font-weight: 300;
  color: #c7950a;
  font-family: 'Open Sans';
  text-transform: none;
  text-decoration: none;
  margin-left: 5px;
}

#schedule .speaker h4 a:hover {
  color: #fff;
  text-shadow: 1px 1px 0 #c7950a;
}

@media all and (min-width: 1020px) {
  #schedule {
    width: 1020px;
    margin: 0 auto;
  }

  #schedule .column {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin: -30px 0 -10px 20px;
  }

  #schedule .column:before {
    top: 80px;
    bottom: 29px;
  }

  #schedule .column + .column:after {
    display: none;
  }

}




#body footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#body footer > div > * {
  min-width: 480px;
  max-width: 36%;
  margin-bottom: 80px;
}

.dealWithMobileSafari #intro {
  height: 745px;
}

